body {
	text-align: center;
	margin: 0;
}

a {
	text-decoration: none;
	font-family: raleway;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

h1, h2, a {
	text-transform: uppercase;
}

h1 {
	font-family: raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	}

.Instructions {
	font-family: raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

.Description-Paragraph {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

img	{
	margin: 40px 8px 0 8px;
}

footer {
	text-transform: uppercase;
	padding: 0px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

button {
	background-color: rgba(13,44,64,0.75);
	color: #FFFFFF;
	font-size: 18px;
	border-radius: 5px;
	border: 2px solid #F15B31;
	padding: 5px 7px;
	cursor: pointer;
	outline: none;
	text-transform: capitalize;
}

button:hover {
	background: rgb(13,44,64);
}

#score {
	font-size: 24px;
}

.container {
	text-align: center;
}

.copyright {
	float: left;
	font-family: "raleway";
}

.message {
	float: right;
	font-family: "raleway";

}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}
